<h1>LINE</h1>
<table>
  <thead>
    <tr>
      <th scope="col">タイトル</th>
      <th scope="col">ジャンル</th>
      <th scope="col">内容</th>
    </tr>
  </thead>
  <tbody>
    <% @lines.each.with_index(1) do |line, i| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= line.genre %></td>
        <td>
          <%= link_to "詳細",  "/lines/:id" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>