/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

.base-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

body {
  padding-top: 56px;
}

.card-size {
  height: 80px;
}

// ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 動作詳細ページのページネーションを中央に
  ul.pagination {
    justify-content: center;
  }

  // フラッシュ

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}
