/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

.base-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

body {
  padding-top: 56px;
  word-break: keep-all;
}

.card-size {
  height: 80px;
}

// ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// ナビバー(平列、スクロール固定、右寄せ中央）
.nav-links {
  display: flex;
  height: var(--nab-height);
  align-items: center;
  margin-left: auto;
}

.navbar-nav>li {
  font-size: 14px;
}

.dropdown-menu {
  font-size: 14px;
}

//レスポンシブ
@media screen and (max-width: 992px) {
  .menu.toggle .nav-links {
    transform: translateX(-100%);
  }
}

// 動作詳細ページのページネーションを中央に
  ul.pagination {
    justify-content: center;
  }

  // フラッシュ

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}
  //<h1>タグ調整
h1 {
  padding: 20px 0px 10px 0px;
  font-size: 2rem;
  text-align: center;
}

 //ラインページ
th,
td {
  vertical-align: middle !important;
  
}

.break-word {
  word-break: break-word;
}
.table {
  width:800px;
  margin-left: auto;
  margin-right: auto;
}

.line_content{
  margin-top: 100px;
  margin-left: 200px;
  text-align: left;
  line-height: 170%
}

.line_table{
  background-color:#28a745;
  color:white;
}
#line{
  color:#28a745;
}