/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

.base-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

// ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}