div {
  .text-card-container {
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 50px;
  }

  .content-card {
    height: 370px;
    max-width: 376px;
    margin: 0 auto;

    a {
      text-decoration: none;
    }
  }
}

.text-title {
  margin-top: 30px;
  margin-bottom: 12px;
}

.text-subtitle {
  margin-bottom: 12px;
}

.CodeRay {
  margin: 10px 0 50px 0;

  .code {
    overflow: auto;
    white-space: pre-wrap;
    background-color: #f6ffff;
    border: 2px dashed #d6dddd;
    margin: 0;

    pre {
      font-size: inherit;
      color: black;
      word-break: normal;
      margin-top: 1rem;
      margin-left: 0.5rem;
    }
  }
}

form.text-search {
  width: 350px;
}