<div class="text-center">
  <h1>テキスト教材</h1>
</div>
<div class="row">
  <% @texts.each do |text| %>
    <div class="col-12 col-md-6 col-lg-4 text-card-container">
      <div class="card content-card border-dark mb-3">
        <%= link_to text_path(text), target: :_blank do %>
          <div class="card-header p-0">
            <%= image_tag "no_image.jpg", loading: "lazy", alt: text.title, class: "img-fluid" %>
          </div>
          <div class="card-body text-dark text-card-body">
            <% if @readed_text_ids.include? text.id %>
              <p class="btn btn-secondary btn-block">読破済みを解除</p>
            <% else %>
              <p class="btn btn-primary btn-block">読破済みにする</p>
            <% end %>
            <p class="text-title"><%= text.title %></p>
            <p class="text-subtitle">【<%= text.genre %>】</p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
