<% flash.each do |flash_type, msg| %>
<% if @user %>
<div class="alert alert-danger">
    <%= flash[:danger] %>
    <% else %>
  <div class="alert alert-info">
    <%= flash[:info] %>
    <% end %>
    <a href="#" class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>
<% end %>